# Step 1: Initial Exploratory Analysis

In [ ]:
#1. Load Data
df<- read.csv("/content/drive/MyDrive/Project/HollywoodsMostProfitableStories.csv")

#2. Take a look at the data
View(df)

In [ ]:
#3. Load library: ​
install.packages("tidyverse")

#4. Import Library
library(tidyverse)

In [ ]:
#5. Check Data Types
str(df)

'data.frame':	74 obs. of  8 variables:
 $ Film             : chr  "27 Dresses" "(500) Days of Summer" "A Dangerous Method" "A Serious Man" ...
 $ Genre            : chr  "Comedy" "Comedy" "Drama" "Drama" ...
 $ Lead.Studio      : chr  "Fox" "Fox" "Independent" "Universal" ...
 $ Audience..score..: int  71 81 89 64 84 80 66 80 51 52 ...
 $ Profitability    : num  5.344 8.096 0.449 4.383 0.653 ...
 $ Rotten.Tomatoes..: int  40 87 79 89 54 84 29 93 40 26 ...
 $ Worldwide.Gross  : num  160.31 60.72 8.97 30.68 29.37 ...
 $ Year             : int  2008 2009 2011 2009 2007 2011 2010 2007 2008 2008 ...

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# Step 2: Clean Data

In [ ]:
#1. Check For Missing Values
colSums(is.na(df))

In [ ]:
#2. ​Drop Missing Values
df <- na.omit(df)

In [ ]:
#3. check to make sure that the rows have been removed ​
View(df)
colSums(is.na(df))

# **Step 3: Exploratory Data Analysis ​**

In [ ]:
#1. Summary Statistics
summary(df)

In [ ]:
ggplot(df, aes(x=Year)) + geom_bar(fill="navy")

# Step 4: Export data

In [ ]:
write.csv(df, "clean_df.csv")